
@font-face {
	font-family: iranyekan;

	src: url('/public/font/Yekan.ttf') format('truetype');  /* FF39+,Chrome36+, Opera24+*/
		}
*{
  padding: 0px;
  margin: 0px;
  font-family: iranyekan;
  box-sizing: border-box;
}

body{
  font-family: iranyekan;
}

p{
  margin: 0!important;
  
}


ul{
  margin: 0!important;
}



@media screen and (max-width:1300px) {
  
.paddingdownmob{
  padding-bottom: 100px;
}
}
